body{
    margin: 0;
}
.test{
    height: 55px;
    position: relative;
    background: url("file:///Users/gim-yun-o/Documents/Github/membermanage/blackbackgr.png");
}
.head{
    position: absolute;
    top: 4px;
    width: 1200px;
    height: 45px;
    background: url("file:///Users/gim-yun-o/Documents/Github/membermanage/yogamanage.png")no-repeat;
}
.head a{
    display: inline-block;
    position: absolute;
    border: black solid 1px;
}
.manage{
    width: 206px;
    height: 45px;
    left: 200px;
}
.statistic{
    width: 68px;
    height: 45px;
    left: 407px;
}
.setting{
    width: 67px;
    height: 45px;
    left: 476px;
}
.sms{
    width: 71px;
    height: 45px;
    left: 544px;
}
.community{
    width: 95px;
    height: 45px;
    left: 616px;
}
.homepage{
    width: 97px;
    height: 45px;
    left: 712px;
}
.generalsearch{
    width: 165px;
    height: 45px;
    left: 814px;
}
.sell{
    width: 136px;
    height: 45px;
    left: 985px;
}
.size{
    height: 200px;
    background: url("file:///Users/gim-yun-o/Documents/Github/membermanage/yogamanage.png") 0px 0px no-repeat;
}
.img-size{
    width: 206px;
    height: 45px;
    left: 200px;
    display: inline-block;
    border: solid black 1px;
    background: url("file:///Users/gim-yun-o/Documents/Github/membermanage/yogamanage.png") 0px 0px no-repeat;
}
.content{
    background-color: #EAEAEA;
}
.mem-stat{
    width: 1500px;
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.mem{
    display: flex;
}
.mem div{
    width: 95px;
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
}
.ticket{
    display: flex;
}
.ticket div{
    width: 83px;
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
}
.mem-man{
    display: flex;
    width: 810px;
    justify-content: space-between;
    /* position: relative; */
    padding-top: 25px;
    padding-left: 10px;
    /* top: 10px;
    left: 10px; */
}
.regstate{
    display: flex;
    background: url("file:///Users/gim-yun-o/Desktop/%E1%84%89%E1%85%B5%E1%86%AB%E1%84%80%E1%85%B2%E1%84%92%E1%85%AC%E1%84%8B%E1%85%AF%E1%86%AB%E1%84%83%E1%85%B3%E1%86%BC%E1%84%85%E1%85%A9%E1%86%A8.png");
}
.newmem{
    width: 171px;
    height: 50px;
}
.newmem span{
    display: inline-block;
}
.old{
    width: 122px;
    height: 50px;
}
.new{
    width: 50px;
    height: 50px;
}
.genpayment{
    width: 171px;
    height: 50px;
}
.mem-search{
    width: 140px;
    height: 30px;
    margin-top: 6px;
}
.search{
    width: 45px;
    height: 30px;
    margin-top: 10px;
    background: url("file:///Users/gim-yun-o/Desktop/%E1%84%80%E1%85%A5%E1%86%B7%E1%84%89%E1%85%A2%E1%86%A8%E1%84%87%E1%85%A5%E1%84%90%E1%85%B3%E1%86%AB.gif") no-repeat;
}
.modify{
    width: 130px;
    height: 50px;
}
.delete{
    width: 105px;
    height: 50px;
}
.moddel{
    display: flex;
    background: url("file:///Users/gim-yun-o/Desktop/%E1%84%92%E1%85%AC%E1%84%8B%E1%85%AF%E1%86%AB%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%87%E1%85%A9%E1%84%87%E1%85%A7%E1%86%AB%E1%84%80%E1%85%A7%E1%86%BC%E1%84%89%E1%85%A1%E1%86%A8%E1%84%8C%E1%85%A6.png") 238px 0px;

}
.content-body{
    width: 500px;
    height: 500px;
}
/* #EAEAEA */